<head>
    <style>
        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>

<img src="~/images/gracias.jpg" />

<div class="row">
    <div class="col-md-12">

        <h2 style="font-size:30px">
            <strong>La inscripción ha sido existosa. Muy pronto te contactaremos!</strong>
        </h2>

        <button type="button" class="btn btn-sm btn-info" onclick="window.location='https://fedehaceb.com.co/';"><i class="fal fa-ban"></i> Salir</button>

    </div>
</div>
